PORT=5000
JWT_SECRET=
FRONTEND_ORIGIN=http://localhost:5173,https://zenwallet.onrender.com
BACKUP_CRON=0 0 * * *
BACKUP_TIMEZONE=Europe/Paris
# Facultatif : adresse de réception différente de MAIL_FROM_ADDRESS
BACKUP_EMAIL_TO=
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
